<!-- home.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio Tecknosfera</title>
    <style>
        body {
            font-family: sans-serif;
            text-align: center;
            padding-top: 100px;
        }
        button {
            padding: 10px 20px;
            margin: 10px;
            font-size: 16px;
        }
    </style>
</head>
<body>
    <h1>🎉 ¡Control de Suministros informaticos en Django! 🎉</h1>
    <p>Mi app está funcionando correctamente.</p>
    <p>by Néstor Enríquez C.</p>

    <!-- Botón 1 que va a /admin -->
    <form action="/admin/" method="get" style="display: inline;">
        <button type="submit">Administración</button>
    </form>
    <!-- Botón 2 que va a /compras -->
    <form action="/compras/" method="get" style="display: inline;">
        <button type="submit">Compras</button>
    </form>
    <!-- Botón 2 que va a /ventas -->
    <form action="/ventas/" method="get" style="display: inline;">
        <button type="submit">Ventas</button>
    </form>
    <!-- Botón 2 que va a /ventas -->
    <form action="/inventario/" method="get" style="display: inline;">
        <button type="submit">Inventario</button>
    </form>
    <!-- Botón 2 que va a /ventas -->
    <form action="/estadisticas/" method="get" style="display: inline;">
        <button type="submit">Estadisticas</button>
    </form>
</body>
</html>