<!DOCTYPE html>
<html lang="es">
<head>
    <title>Lista de Productos</title>
    <style>
        table {
            margin: auto;
            border-collapse: collapse;
            width: 80%;
        }
        th, td {
            border: 1px solid #aaa;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f0f0f0;
        }
    </style>
</head>
<body>
    <h1>Productos</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Stock Minimo</th>
                <th>Proveedor</th>
                <th>Categoria</th>
                <th>Creación</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.id }}</td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.descripcion }}</td>
                <td>{{ producto.precio }}</td>
                <td>{{ producto.stock }}</td>
                <td>{{ producto.stock_minimo }}</td>
                <td>{{ producto.proveedor }}</td>
                <td>{{ producto.categoria }}</td>
                <td>{{ producto.creado_en }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>